/* 아래에 CSS를 작성해주세요. */
/*<style>
.align-center {
  text-align: center;
  margin: 0 auto;
  font-size: 12px;
}
.word-center {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.card {
  width: 40rem;
  height: 40rem;
}
.card-image {
  width: 17.5rem;
  height: 17.5rem;
  border-radius: 1rem;
}

</style>*/