{% load django_bootstrap5 %}
{% bootstrap_css %}
{% block css %}
{% endblock %}
{% block body %}
  <h1>{{ user }}</h1>
  {% if request.user.is_authenticated %}
  <span>{{ request.user }}</span>
  <a href="">로그아웃</a>
  {% endif %}
  {% else %}
  <a href="{% url 'accounts:signup' %}">회원가입</a>
  <a href="{% url 'accounts:login' %}">로그인</a>
  {% endif %}
  <form action="" method='post'>
    {% csrf_token %}
    {% comment %} {% bootstrap_form form %} {% endcomment %}
    {% comment %} {{ review_form.as_p }} {% endcomment %}
    <a href="{% url 'accounts:signup' %}">
      회원가입
    </a>
    <a href="{% url 'accounts:list' %}">
      회원목록
    </a>
  </form>
{% endblock %}

{% bootstrap_javascript %}
