<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>lotto number</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
  <div class="wrap">
    <h1 class="title">1033회차 로또 번호 추첨</h1>
    <div class="btn">
      <button onClick="window.location.reload()">어림없지, 다시한번!</button>
    </div>
    <div style="display:flex;">
      <div class="nums mx-2">
        {% for nums in lotto %}
        <div>
          {% for num in nums %}
          <span>{{ num }}</span>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
      <div class="result mx-5">
        {% for rank in ranks %}
        <div>{{ rank }}</div>
        {% endfor %}
      </div>
    </div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>

</html>